/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/09/2019, 12:25:54 PM
    Author     : Windows10
*/

header {
    background: #183ABF;
    color: #000000;
    
}

footer{
    background: #424242;
    color: #FFFFFF;
}

#copyright{
    background: #212121;
    color: #FFFFFF;
}
